<div id="page-wrapper">
  <div ng-include="'head.html'"></div>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <h3 style="color: #666666;"><i class="fa fa-user"></i> User Profile</h3>
      <ol class="breadcrumb">
        <li><i class="fa fa-home"></i><a href="#/dashboard"> Home</a></li>
        <li><i class="fa fa-users"></i><a href="#/users"> User Management</a></li>
        <li><i class="fa fa-user"></i> User Profile</li>
      </ol>
    </div>
  </div>
  <div class="row">
    
    <div class="row">
      <div class="col-sm-3"><!--left col-->
        <div class="text-center">
          <img src="img/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
          <h6>User Profile</h6>
        </div> 
      </div><!--/col-3-->
      <div class="col-sm-9">
        <form name="signupForm" role="form">
            <div class="form-group">
              <div class="col-xs-6">
                <label for=""><H4>First Name</H4></label>
                <input type="text" ng-model="users.fname" class="form-control" 
                placeholder="Enter first name" required focus>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-6">
                <label for=""><H4>Middle Name</H4></label>
                <input type="text" ng-model="users.mname" class="form-control" 
                placeholder="Enter middle name" required>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-6">
                <label for=""><H4>Last Name</H4></label>
                <input type="text" ng-model="users.lname" class="form-control" 
                placeholder="Enter last name" required>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-6">
                <label for=""><H4>Username</H4></label>
                <input type="text" ng-model="users.username" class="form-control" 
                placeholder="Enter username" required>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-6">
                <label for=""><H4>Password</H4></label>
                <input type="text" ng-model="users.password" class="form-control" 
                placeholder="Enter password" required>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-6">
                <label for=""><H4>Role</H4></label>
                <select class="form-control" ng-model="users.usertype" required>
                  <option ng-repeat="data in roleList" value="{{data.usertype_id}}">
                    {{data.usertype_name}}
                  </option>
                </select>
              </div>
            </div>
            
            <div class="form-group">
             <div class="col-xs-12">
                <br>
                <button type="button" class="btn btn-success" ng-click="addUser(users)" data-ng-disabled="signupForm.$invalid"><i class="fa fa-fw fa-check"></i> Save</button>
                <button class="btn btn-default" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
              </div>
            </div>
        </form>
      </div><!--/col-9-->
    </div><!--/row-->
  </div>
</div>

  