<style>
.selected {
    color:#008080;
    font-weight:bold;
}
</style>
<div id="page-wrapper">
  <div ng-include="'head.html'"></div>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <h3 style="color: #666666;"><i class="fa fa-gear"></i> Employee Schedule</h3>
      <ol class="breadcrumb">
        <li><i class="fa fa-home"></i><a href="#/dashboard"> Home</a></li>
        <li><i class="fa fa-gear"></i> Employee Schedule</li>
      </ol>
      <div class="pull-left">
        <button class="btn btn-primary btn-sm" ng-click="newSchedule()">
          <i class="fa fa-fw fa-user-plus"></i> New Shedule
        </button>
      </div>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="form-group col-lg-12">
      <table class="table table-bordered table-condensed table-hover table-striped " datatable="ng"
         dt-instance="vm.dtInstance"  width="100%" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" >
          <thead>
            <tr>
              <th>No.</th>
              <th>Time In</th>
              <th>Time Out</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="users in scheduleList" ng-class="{'warning':$index == selectedRow}" ng-click="setClickedRow($index)">
              <td>{{users.id}}</td>
              <td>{{users.time_in}}</td>
              <td>{{users.time_out}}</td>
              <td>
                <a ng-href="#/edit_user/{{users.id}}" class="btn btn-xs btn-success">
                  <i class="fa fa-edit"></i>
                </a>
                <button class="btn btn-xs btn-danger" ng-click="deleteUser(users.id)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>

</div>

  